<%- include('partials/head') %>
      <body>
    <%- include('partials/navbar') %>

            <h1> This is the HomePage </h1>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
              Quidem quas nostrum ex dolore sequi error fuga voluptate, et inventore eum ad commodi quia quasi 
              pariatur dolorum praesentium! Sapiente, nisi vel? </p>

              <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Quidem quas nostrum ex dolore sequi error fuga voluptate, et inventore eum ad commodi quia quasi
                pariatur dolorum praesentium! Sapiente, nisi vel? </p>


      
<%- include('partials/footer') %>